<%- include('partials/head') %>


<body>
    <%- include('partials/navbar') %>

    <h1>The Home Page <%= 5 + 6 + 9 %>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eaque, nisi consequuntur veniam iure sed
        nostrum incidunt ratione voluptate voluptatem in corrupti, est maiores. Impedit iste harum ratione autem ea
        illum hic, amet eos labore, dolorum ad. Recusandae facilis, nam ad ex labore porro nemo minima est, quasi, ut
        voluptatem. Accusamus nemo dolores natus? Molestiae doloremque amet facilis pariatur minus obcaecati quasi quis
        beatae incidunt dignissimos consequuntur voluptates dolore perferendis quos qui eaque alias dolores suscipit
        aperiam accusamus, voluptate illum nesciunt unde? Omnis animi incidunt neque corporis voluptate ipsa dolor
        quidem possimus dolore suscipit quas error, doloremque dolores assumenda eveniet expedita! Recusandae unde velit
        nostrum harum nesciunt dolores voluptatum maiores pariatur, commodi libero delectus quisquam voluptas est.
        Ullam, saepe. Delectus tenetur, nemo eos placeat, sapiente mollitia eligendi possimus quis quam dolorem labore
        doloribus rem eveniet. Quam assumenda ad sed ab? Delectus minima debitis temporibus deleniti et aperiam eos
        expedita at quidem ducimus asperiores esse, nisi atque vel ipsa similique praesentium distinctio eaque! Nulla
        vero inventore suscipit alias? Dolores, aspernatur numquam explicabo delectus enim sequi, quos aperiam amet
        ratione odio cum similique, id necessitatibus. Cum, unde. Quisquam facere dolores illum illo culpa, omnis quasi
        ducimus laboriosam esse repudiandae temporibus numquam architecto?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, iure? Reprehenderit quo adipisci odit culpa illum
        temporibus dicta repellendus, hic facere natus doloremque qui magni optio eum ut eveniet quasi incidunt nulla
        nesciunt. Aut quia rem cum nesciunt nihil veritatis numquam iste repudiandae deserunt mollitia sapiente nam, quo
        id ea consequuntur voluptate unde expedita perspiciatis. Inventore nesciunt vel optio. Dolorum in eveniet illo
        quisquam blanditiis voluptatem assumenda similique sed officia. Dignissimos qui accusantium porro fugiat
        similique! Ipsam obcaecati quas impedit velit eos iste quasi minus in aperiam deleniti expedita voluptate dolore
        corrupti minima, nobis labore voluptas libero quam facere architecto. Nostrum ab eos fugiat exercitationem quia.
        Ea ducimus doloribus, ex repellat praesentium quod architecto possimus. Fugit perferendis quam, ad sequi
        quisquam optio neque velit saepe earum quibusdam aperiam! Ipsa, reiciendis.</p>

</body>

</html>